<div class="mb-16">
  <app-alert
    *ngIf="form.invalid"
    [alertinfo]="{
      title: 'Please check or complete the fields.',
      description:
        'In order to continue creating the show, please check the fields to be correct.',
      type: 'info',
      showRetry: false
    }"
  ></app-alert>
</div>

<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
  <div nz-col>
    <div nzMd="12">
      <nz-form-item>
        <nz-form-label class="bold" nzRequired nzFor="name"
          >Show Name</nz-form-label
        >
        <nz-form-control nzErrorTip="Please input your name" nzHasFeedback>
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="Please input your name"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nzMd="12">
      <nz-form-item>
        <nz-form-label class="bold" nzFor="imageUrl" nzRequired
          >Image URL</nz-form-label
        >
        <nz-form-control
          nzErrorTip="The show must contain an image."
          nzHasFeedback
        >
          <input
            type="text"
            nz-input
            formControlName="imageUrl"
            placeholder="Insert the image link"
          />
        </nz-form-control>
      </nz-form-item>

      <button
        type="button"
        *ngIf="form.get('imageUrl').value"
        nz-button
        nz-popover
        nz-popoverPlacement="bottom"
        nzType="primary"
        [nzPopoverContent]="previewImage"
      >
        Preview Image
      </button>

      <ng-template #previewImage>
        <div class="separate-rows" style="max-width: 300px">
          <img
            class="fullwidth fullheight"
            [src]="form.get('imageUrl').value"
            alt=""
          />
        </div>
      </ng-template>
    </div>

    <div nzMd="12">
      <nz-form-item>
        <nz-form-label class="bold" nzFor="genres" nzRequired
          >Genres</nz-form-label
        >
        <nz-form-control
          nzErrorTip="The show requires at least an genre."
          nzHasFeedback
        >
          <nz-select
            nzMode="tags"
            formControlName="genres"
            nzPlaceHolder="Select genres played or add them."
          >
            <nz-option
              *ngFor="let option of genresOptions"
              [nzLabel]="option"
              [nzValue]="option"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nzMd="12">
      <nz-form-item>
        <nz-form-label class="bold" nzFor="genres" nzRequired
          >Artist</nz-form-label
        >
        <nz-form-control
          nzErrorTip="The host of the show is required."
          nzHasFeedback
        >
          <nz-select
            formControlName="artist"
            nzPlaceHolder="Select the artist that hosts the show."
          >
            <nz-option
              *ngFor="let artist of artistOptions"
              [nzLabel]="artist"
              [nzValue]="artist"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nzMd="12">
      <nz-form-item>
        <nz-form-label class="bold" nzFor="links">Links</nz-form-label>

        <div
          formArrayName="links"
          *ngFor="let link of form.get('links').controls; let i = index"
        >
          <nz-form-item>
            <nz-form-control
              nzErrorTip="The show must contain an image."
              nzHasFeedback
            >
              <input
                type="text"
                nz-input
                [formControlName]="i"
                [placeholder]="'Add to link ' + (i + 1)"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-form-item>

      <button type="button" nz-button (click)="addNewFormArray()">
        Add new link
      </button>

      <nz-divider></nz-divider>
    </div>

    <div nzMd="12">
      <nz-form-item>
        <nz-form-control>
          <button
            type="submit"
            nz-button
            nzBlock
            [nzType]="form.dirty && form.invalid ? 'danger' : 'primary'"
          >
            <i nz-icon nzType="right" nzTheme="outline"></i>
            {{
              form.dirty && form.invalid
                ? "Check invalid fields to proceed"
                : "Next"
            }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
