<app-banner [banner]="banner"></app-banner>

<div nz-row nzGutter="16" class="separate-rows">
  <div nz-col nzMd="0" nzLg="1" nzXl="3"></div>
  <div nz-col nzSm="24" nzMd="24" nzLg="22" nzXl="18">
    <nz-card>
      <nz-tabset nzSize="large" nzLinkRouter nzLinkExact="false">
        <nz-tab>
          <a nz-tab-link [routerLink]="['all-shows']">
            <i nz-icon nzType="customer-service"></i>
            Manage Shows
          </a>
        </nz-tab>

        <nz-tab>
          <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'four' }"
            queryParamsHandling="merge"
          >
            <i nz-icon nzType="team" nzTheme="outline"></i>
            Artists and Users
          </a>
        </nz-tab>

        <nz-tab>
          <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'three' }"
            queryParamsHandling="merge"
          >
            <i nz-icon nzType="control" nzTheme="outline"></i>
            SEO
          </a>
        </nz-tab>
        <nz-tab>
          <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'four' }"
            queryParamsHandling="merge"
          >
            <i nz-icon nzType="setting" nzTheme="outline"></i>
            Settings</a
          >
        </nz-tab>

        <nz-tab>
          <a
            nz-tab-link
            [routerLink]="['.']"
            [queryParams]="{ tab: 'four' }"
            queryParamsHandling="merge"
          >
            <i nz-icon nzType="database" nzTheme="outline"></i>
            Database
          </a>
        </nz-tab>
      </nz-tabset>

      <button type="button" nz-button nzType="default" (click)="goHome()">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        Home
      </button>

      <div style="height: 800px; overflow-y: scroll; padding: 5% 12.5%">
        <router-outlet class="flex-item-center"></router-outlet>
      </div>
    </nz-card>
  </div>
</div>
