<section>
  <nz-card [nzTitle]="radioShowsTitle" nzExtra="more">
    <ng-template #radioShowsTitle>
      <h2>
        <i
          style="margin-right: 8px;"
          nz-icon
          nzType="customer-service"
          nzTheme="outline"
        ></i
        >Radio Shows
      </h2>
    </ng-template>

    <ng-template #futureShowsOffline>
      <h1>Offline</h1>
    </ng-template>

    <!-- [nzGrid]="{ gutter: 8, xs: 24, sm: 12, md: 8, lg: 6, xl: 6 }" -->
    <nz-list
      *ngIf="futureShows && !futureShowsFeedbackAlert; else futureShowsOffline"
      nzItemLayout="vertical"
      [nzDataSource]="futureShows"
      [nzRenderItem]="show"
      [nzFooter]="footer"
      [nzPagination]="pagination"
    >
      <ng-template #show let-show>
        <nz-list-item>
          <app-show-individual [showItem]="show"></app-show-individual>
        </nz-list-item>
      </ng-template>

      <ng-template #pagination>
        <nz-pagination
          [nzPageIndex]="1"
          [nzTotal]="futureShows.length"
        ></nz-pagination>
      </ng-template>
    </nz-list>
  </nz-card>
</section>
