<div
  nz-row
  nzType="flex"
  nzJustify="center"
  nzAlign="middle"
  style="margin: 96px 0;"
>
  <div nz-col nzMd="12" nzSm="24">
    <div class="textcenter">
      <!--   -->
      <img
        id="banner-logo"
        [ngClass]="banner.classes.imageClasses"
        id="main-logo"
        [src]="banner.imageAdress"
        alt="Drums.ro Logo"
      />
    </div>
  </div>
  <div nz-col nzMd="12" nzSm="24" class="fullheight separate-rows">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col nzLg="12" nzMd="24" nzSm="24" class="textcenter">
        <h1 [ngClass]="banner.classes.headingClasses">{{ banner.heading }}</h1>
        <h3>{{ banner.description }}</h3>
      </div>

      <div
        nz-col
        nzLg="12"
        nzMd="24"
        nzSm="24"
        class="textcenter separate-rows"
      >
        <app-social-links></app-social-links>
      </div>
    </div>
  </div>
</div>
