<div
  nz-row
  nzType="flex"
  nzJustify="center"
  nzAlign="middle"
  style="margin: 96px 0;"
>
  <div nz-col nzMd="12" nzSm="24">
    <div class="textcenter">
      <!--   -->
      <img
        id="banner-logo"
        class="animated infinite tada slower"
        id="main-logo"
        src="./../../../assets/img/drumsro_transparent.png"
        alt="Drums.ro Logo"
      />
    </div>
  </div>
  <div nz-col nzMd="12" nzSm="24" class="fullheight separate-rows">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col nzLg="12" nzMd="24" nzSm="24" class="textcenter">
        <h1>24/7 Drums.ro - Drum&Bass Online Radio Station</h1>
        <h3>drum&bass / jungle / breakbeat / dubstep / oldskool / hardcore</h3>
      </div>

      <div
        nz-col
        nzLg="12"
        nzMd="24"
        nzSm="24"
        class="textcenter separate-rows"
      >
        <app-social-links></app-social-links>
      </div>
    </div>
  </div>
</div>
