<div *ngIf="viewport === 'desktop'" class="underlay">
  <img class="fullwidth fullheight" [src]="activeGif" alt="" />
</div>

<nz-layout class="app-layout">
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <main [@routeAnimations]="prepareRoute(outlet)">
          <router-outlet #outlet="outlet"></router-outlet>
        </main>

        <div nz-row class="relative">
          <app-player></app-player>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
