<section>
  <nz-card
    [nzTitle]="radioShowsTitle"
    [nzExtra]="more"
    [nzBodyStyle]="{ padding: showAlert ? '0px' : '24px' }"
  >
    <ng-template #radioShowsTitle>
      <h2>
        <i
          nz-icon
          nzType="cloud"
          nzTheme="fill"
          style="margin-right: 10px;"
        ></i>
        Mixcloud
      </h2>
    </ng-template>

    <ng-template #more>
      <button nz-button nzSize="large" nzType="primary">Follow</button>
    </ng-template>

    <ng-template #mixcloudOffline>
      <app-alert
        *ngIf="showAlert"
        [alertinfo]="mixcloudFeedbackAlert"
        [loading]="mixesLoading"
        (closeAlert)="closeAlert($event)"
        (retryLoading)="retryLoadMixcloud($event)"
      ></app-alert>
    </ng-template>

    <nz-list
      *ngIf="mixcloudMixes && !mixcloudFeedbackAlert; else mixcloudOffline"
      [nzDataSource]="mixcloudMixes"
      [nzLoading]="mixesLoading"
      [nzItemLayout]="'vertical'"
      [nzRenderItem]="item"
      [nzLoadMore]="loadMore"
    >
      <ng-template #item let-item>
        <app-mixcloud-item [mixcloudItem]="item"></app-mixcloud-item>
      </ng-template>

      <ng-template #loadMore>
        <nz-divider></nz-divider>

        <div
          class="mb-8"
          *ngIf="
            mixcloudMixes.length > 0 && mixcloudMixes.length % pageLimit === 0
          "
        >
          <button
            class="bold"
            nz-button
            nzBlock="true"
            [disabled]="mixesLoading"
            (click)="onLoadMore()"
          >
            Load More
          </button>
        </div>

        <a
          [href]="'https://www.mixcloud.com/' + profile"
          nz-button
          nzBlock="true"
          nzType="dashed"
          target="_blank"
          >Visit Mixcloud Page</a
        >
      </ng-template>
    </nz-list>
  </nz-card>
</section>
