<!-- <iframe src="http://radio.drums.ro:8000/played.html" width="80%" height="110">
</iframe> -->
<app-banner [banner]="banner"></app-banner>

<div nz-row nzGutter="16">
  <div nz-col nzMd="0" nzLg="1" nzXl="3"></div>
  <div
    class=" animated fadeInLeft"
    nz-col
    [nzSm]="24"
    [nzMd]="24"
    [nzLg]="11"
    [nzXl]="8"
  >
    <app-shows></app-shows>

    <div class="separate-rows">
      <app-facebook-widget></app-facebook-widget>
    </div>
  </div>
  <div
    class=" animated fadeInRight"
    nz-col
    [nzSm]="24"
    [nzMd]="24"
    [nzLg]="11"
    [nzXl]="10"
  >
    <app-mixcloud profile="drumsdotro"></app-mixcloud>
  </div>
</div>

<div nz-row class="separate-rows">
  <div nz-col nzSm="0" nzLg="3"></div>
  <div nz-col nzSm="24" nzLg="18">
    <app-shows></app-shows>
  </div>
  <div nz-col nzSm="0" nzLg="3"></div>
</div>

<div nz-row class="separate-rows">
  <div nz-col nzSm="0" nzLg="3"></div>
  <div nz-col nzSm="24" nzLg="18">
    <app-footer></app-footer>
  </div>
  <div nz-col nzSm="0" nzLg="3"></div>
</div>
