<section>
  <nz-card [nzTitle]="radioShowsTitle" nzExtra="more">
    <ng-template #radioShowsTitle>
      <h2>
        <i
          style="margin-right: 8px;"
          nz-icon
          nzType="customer-service"
          nzTheme="outline"
        ></i
        >Radio Shows
      </h2>
    </ng-template>

    <ng-template #showsOffline>
      <app-alert
        *ngIf="showAlert"
        [alertinfo]="alertMock"
        (closeAlert)="closeAlert($event)"
        (retryLoading)="retryLoadShows($event)"
      ></app-alert>
    </ng-template>

    <!-- [nzGrid]="{ gutter: 8, xs: 24, sm: 12, md: 8, lg: 6, xl: 6 }" -->

    <!--[nzFooter]="footer"
      [nzPagination]="pagination" -->
    <nz-list
      nzItemLayout="vertical"
      [nzDataSource]="shows"
      [nzRenderItem]="show"
    >
      <nz-skeleton
        *ngFor="let skeleton of [0, 1, 2, 3, 4]"
        [nzLoading]="loadingShows"
        [nzActive]="true"
        [nzAvatar]="{ size: 'large', shape: 'square' }"
      >
      </nz-skeleton>

      <ng-template #show let-show>
        <nz-list-item>
          >
          <app-show-individual [showItem]="show"></app-show-individual>
        </nz-list-item>
      </ng-template>

      <!-- <ng-template #pagination>
        <nz-pagination [nzPageIndex]="1"></nz-pagination>
      </ng-template> -->
    </nz-list>
  </nz-card>
</section>
